In [60]:
# import libraries
import pandas as pd
import numpy as np
import sklearn as

In [81]:
# import other stuff from sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [61]:
print("Pandas version:", pd.__version__)
print("NumPy version:", np.__version__)
print("SciKit-Learn version:", sk.__version__)

Pandas version: 2.0.3
NumPy version: 1.24.4
SciKit-Learn version: 1.3.2

In [13]:
# Define column names
columns = ['yr', 'mo', 'dy', 'hr', 'mn', 'wdir', 'wspd', 'gst', 'wvht', 'dpd', 'apd', 'mwd', 'pres', 'atmp', 'wtmp', 'dewp', 'vis', 'tide']

In [20]:
dtypes = {
    'yr': int, 'mo': int, 'dy': int, 'hr': int, 'mn': int, 
    'degT': float, 'm/s': float, 'm/s': float, 'm': float, 
    'sec': float, 'sec': float, 'degT': float, 'hPa': float, 
    'degC': float, 'degC': float, 'degC': float, 'mi': float, 'ft': float
}

In [54]:
# get the data in a dataframe
waves_df = pd.read_csv("2023_waves_data.txt", delim_whitespace=True, names=columns, dtype=dtypes)
waves_df.describe()

,yr,mo,dy,hr,mn,wdir,wspd,gst,wvht,dpd,apd,mwd,pres,atmp,wtmp,dewp,vis,tide
count,52451.0,52451.000000,52451.000000,52451.000000,52451.000000,52451.000000,52451.000000,52451.000000,52451.000000,52451.000000,52451.000000,52451.000000,52451.000000,52451.000000,52451.000000,52451.000000,52451.0,52451.0
mean,2023.0,6.528779,15.723170,11.506797,24.998951,241.362148,11.595846,13.093360,66.881538,69.213733,68.196236,715.614135,3091.401828,244.745505,37.171390,255.051107,99.0,99.0
std,0.0,3.449605,8.797972,6.920929,17.075437,217.922997,22.543148,22.270887,45.930902,42.626616,44.054543,407.213639,3786.521034,415.638280,143.817589,424.590722,0.0,0.0
min,2023.0,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.350000,2.600000,2.980000,0.000000,985.100000,-6.400000,6.400000,-11.200000,99.0,99.0
25%,2023.0,4.000000,8.000000,6.000000,10.000000,118.000000,3.700000,4.800000,1.470000,10.810000,5.840000,162.000000,1012.300000,10.200000,9.800000,7.700000,99.0,99.0
50%,2023.0,7.000000,16.000000,12.000000,20.000000,205.000000,5.800000,7.200000,99.000000,99.000000,99.000000,999.000000,1018.200000,20.600000,15.900000,18.200000,99.0,99.0
75%,2023.0,10.000000,23.000000,18.000000,40.000000,301.000000,8.400000,10.500000,99.000000,99.000000,99.000000,999.000000,1031.000000,26.600000,22.000000,25.700000,99.0,99.0
max,2023.0,12.000000,31.000000,23.000000,50.000000,999.000000,99.000000,99.000000,99.000000,99.000000,99.000000,999.000000,9999.000000,999.000000,999.000000,999.000000,99.0,99.0

In [62]:
y = waves_df['wvht']

In [64]:
wave_features = ['hr', 'mn', 'wdir', 'wspd']

In [78]:
X = waves_df[wave_features]
X.describe()

                 hr            mn          wdir          wspd
count  52451.000000  52451.000000  52451.000000  52451.000000
mean      11.506797     24.998951    241.362148     11.595846
std        6.920929     17.075437    217.922997     22.543148
min        0.000000      0.000000      0.000000      0.000000
25%        6.000000     10.000000    118.000000      3.700000
50%       12.000000     20.000000    205.000000      5.800000
75%       18.000000     40.000000    301.000000      8.400000
max       23.000000     50.000000    999.000000     99.000000

In [126]:
# PREDICTION LOGIC:

# list to hold next data points
next_five_waves = []

# print the next 5 waves
for i in range(5):    

    # set training variables
    train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 42)

    # define the model
    waves_model = RandomForestRegressor(random_state=42-i)

    # fit the model
    waves_model.fit(train_X, train_y)

    # predict the wave height
    waves_prediction = waves_model.predict(val_X)

    #add the wave height to the list
    next_five_waves.append(round(waves_prediction[-1], 3))

In [131]:
# print the next 5 waves
print("Next 5 Waves: ")
for i in range(len(next_five_waves)):
    print(f"Wave {i}: {next_five_waves[i]} Meters or {round((next_five_waves[i] * 3.2808), 3)} Feet")

Next 5 Waves:
Wave 0: 1.175 Meters or 3.855 Feet
Wave 1: 1.222 Meters or 4.009 Feet
Wave 2: 1.198 Meters or 3.93 Feet
Wave 3: 1.098 Meters or 3.602 Feet
Wave 4: 1.135 Meters or 3.724 Feet